<!-- The user can add a new list. Form redictes to all lists. -->
<div class= "_navbar">
  <!-- Logo on the left -->
  <%= link_to "My lists", lists_path%>
  <%= link_to "New lists", new_list_path%>
</div>

<h1>Create a new list</h1>

<%= simple_form_for @list do |f| %>
  <%= f.input :name, label: "List name", placeholder: "e.g. Drama, Classics, Feel Good..." %>
  <%= f.submit "Create list", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back to all lists", lists_path, class: "btn btn-secondary" %>
