<!-- User cann add new bookmark to list (form) -->
<!-- Navbar-->
<div class= "my-navbar">
  <div class="logo">
    <%= link_to image_tag("Logo.jpg", alt: "Logo", height: 60), lists_path %>
  </div>
  <div class="nav-links">
    <%= link_to "My lists", lists_path, class: "nav-link"%>
    <%= link_to "New list", new_list_path, class: "nav-link"%>
  </div>
</div>

<div class="form-container">
  <h2>Add a movie to <%= @list.name %></h2>

  <%= simple_form_for [@list, @bookmark] do |f| %>
    <div class="form-group">
      <%= f.association :movie, collection: Movie.all, prompt: "Select a movie", label: "Movie" %>
    </div>

    <div class="form-group">
      <%= f.input :comment, label: "Comment", placeholder: "Comment about this movie" %>
    </div>

    <div class="form-actions">
      <%= f.submit "Add movie", class: "btn btn-primary" %>
      <%= link_to "Back to list", list_path(@list), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
